<%- include ("header2") %>
<link rel="stylesheet" href="/css/style_ho.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>les hopitaux</title>
    <link rel="stylesheet" href="css\style_ho.css">
</head>
<body>
  <br><br><br><br><br><br>
    <div id="cont">
        <div class="container">
             <h1>مستشفيات مكة</h1>
             <div class="image">
             <img src="img\hop.png" alt="">
             </div>
             <p>المستشفيات الحكومية والعامة وهي المستشفيات التي تقدم خدماتها لجميع المواطنين ومتوفرة في جميع أنحاء المملكة السعودية، ويوجد المستشفيات الأهلية وهي المستشفيات الخاصة التي يمتلكها أشخاص وليست الحكومة، ويوجد المستشفيات العسكرية والتي تشمل نوعان من المستشفيات وهما مستشفيات وزارة الدفاع ومستشفيات الحرس الوطني السعودي
                ويوجد تصنيفات أخرى من المستشفيات مثل مستشفيات جراحة العيون و مستشفيات التجميل
            </p>
             <div class="div">
                <section>
                    <!--for demo wrap-->
                    <h2>مستشفيات مكة الحكومية</h2>
                    <div class="tbl-header">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th>رقم الهاتف</th>
                            <th>العنوان</th>
                            <th>أسم المستشفى</th>

                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td>00966125203535</td>
                            <td>مدينة مكة المكرمة - طريق المدينة المنورة - مسافة 5 كلم من الطريق الرئيسي </td>
                            <td>مستشفى حراء العام</td>

                          </tr>
                          <tr>
                            <td>00966125730070</td>
                            <td>مكة المكرمة – أجياد بجوار المسجد الحرام</td>
                            <td>مستشفى أجياد العام</td>

                          </tr>
                          <tr>
                            <td>00966125566411</td>
                            <td>مكة المكرمة – حي الشـشـة</td>
                            <td>مستشفى الملك فيصل ( الششة )</td>

                          </tr>
                          <tr>
                            <td>00966125665000</td>
                            <td>مكة المكرمة – حي الهجرة</td>
                            <td>مستشفى النور التخصصي</td>

                          </tr>
                          <tr>
                            <td>00966125442400</td>
                            <td>مكة المكرمة – حي الزاهر</td>
                            <td>مستشفى الملك عبدالعزيز ( الزاهر )</td>

                          </tr>
                          <tr>
                            <td>00966125530400</td>
                            <td>مكة المكرمة - حي المشاعر</td>
                            <td>مستشفى الولادة والأطفال</td>

                          </tr>
                          <tr>
                            <td>00966125948331</td>
                            <td>مكة المكرمة – حي الكامل</td>
                            <td>مستشفى الكامل العام</td>

                          </tr>
                          <tr>
                            <td>00966124320554</td>
                            <td> مكة المكرمة</td>
                            <td>مستشفى ابن سينا</td>

                          </tr>
                          <tr>
                            <td>00966122755666</td>
                            <td> مكة المكرمة </td>
                            <td>مستشفى خليص</td>

                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </section>

                  <section>
                    <!--for demo wrap-->
                    <h2>مستشفيات مكة الخاصة</h2>
                    <div class="tbl-header">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th>رقم الهاتف</th>
                            <th>العنوان</th>
                            <th>أسم المستشفى</th>

                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td>0125333555</td>
                            <td>مكة المكرمة – شارع المنصور </td>
                            <td>مستشفى الشفاء</td>

                          </tr>
                          <tr>
                            <td>025204444</td>
                            <td>مكة المكرمة </td>
                            <td>مستشفى محمد صالح باشراحيل</td>

                          </tr>
                          <tr>
                            <td>025587777</td>
                            <td>مكة المكرمة – حي العزيزية الجنوبية</td>
                            <td>مستشفى علوي تونسي وأخوانه</td>

                          </tr>
                          <tr>
                            <td>025222222</td>
                            <td>مكة المكرمة – طريق المدينة</td>
                            <td>مستشفى دكتور عبدالرحمن طه بخش</td>

                          </tr>
                          <tr>
                            <td>025772222</td>
                            <td>مكة المكرمة – شارع الستين</td>
                            <td>مستشفى السلام الطبي بمكة المكرمة</td>

                          </tr>
                          <tr>
                            <td>025454455</td>
                            <td>مكة المكرمة – شارع الستين</td>
                            <td>مستشفى الرفيع الطبي</td>

                          </tr>
                          <tr>
                            <td>025562177</td>
                            <td>مكة المكرمة – شارع المستشفى الأهلي</td>
                            <td>المستشفى الأهلي السعودي</td>
                          </tr>



                        </tbody>
                      </table>
                    </div>
                  </section>


                </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include ("footer") %>
