
html { 
  margin:0;
  padding:0;
   background: url("last.jpg") no-repeat center fixed ;

    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
     background-size: cover; /* version standardisée */
    font-family: "Rimouski";
}
.col-3{background-color: #303030 ;opacity:0.75;
color: #FFFFFF ;
margin-top:12%;

float:center;

}

select:hover{ 	width: 250px;margin-left:10px;
 position: left;
 height:42px;
 background-color: #C4C9C7;
font-style:bold;
border-radius:10px;
box-shadow:4px 4px 0px #ccc;
box-shadow:4px 4px 4px 4px  #888888 inset;


}
select{ width: 250px;margin-left:10px;
               position: left;
               height:42px;
               background-color: #ccc;
font-style:bold;
              border-radius:10px;
              box-shadow:4px 4px 0px #C4C9C7;
box-shadow:4px 4px 4px 4px  #ccc  inset;
box-shadow:4px 4px 4px 4px  #888888;


}




input[type="text"]{ float:left;margin-left:10px;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #FFFFFF ;
  width: 20;
     text-align:left;
  box-sizing: border-box;
  letter-spacing: 1px; font-size: large;
   position: right;
}
input[type="number"]{ float:left;margin-left:10px;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #FFFFFF ;
  width: 20;
     text-align:left;
  box-sizing: border-box;
  letter-spacing: 1px; font-size: large;
   position: right;
}
input[type="button"]{ float:left;margin-left:10px;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #FFFFFF ;
  width: 40;
     text-align:left;
  box-sizing: border-box;
  letter-spacing: 1px; font-size: large;
   position: right;
}
.effect-1{font-size: large;
  border: 0;
  padding: 4px 0; position: left;
  border-bottom: 1px solid #FFFFFF ;

  background-color: transparent;
}

.effect-2{ font-size: large; position: left;float:left;
color: #FFFFFF  !important;
border-radius:10px;
box-shadow:4px 4px 0px #FFFFFF ;
background: transparent;
padding: 3px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;}

.effect-2:active {position: left;float:left;
background: transparent;
border-radius:10px;
box-shadow:4px 4px 4px 4px #FFFFFF  inset;
letter-spacing: 1px;

transition: all 0.4s ease 0s;
}

 
.effect-1 ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFFFFF ;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border{
  width: 100%;
  transition: 0.4s;
}

.effect-1 ~ label{
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-1:focus ~ label,
.has-content.effect-1 ~ label{
  top: -16px;
  font-size: 12px;
  color: #FFFFFF ;
  transition: 0.3s;
}

h2 { 
	text-shadow: black 0.5em 0.2em 0.2em;
     color: #E0FFFF;
    
    font :  georgia, palatino, serif;
    font-style : italic;text-align: center
}

p#p{ background: black;padding:10px;
opacity: 1;
 	text-shadow: black 0.5em 0.2em 0.2em;
     font-size: 2em ; text-color: #E0FFFF;
   font-family: "Rimouski";
   text-align: center;
}
p#from,p#to{ text-decoration:underline;
opacity: 0.5; margin-left:10px;
 	text-shadow: black 0.5em 0.2em 0.2em;
     font-size: 1em ; text-color: #FFFFFF;
   font-family: "Rimouski";
   text-align:left;
}
p#result{ text-decoration:underline;
opacity: 0.5;
 	text-shadow: black 0.5em 0.2em 0.2em;
     font-size: 1em ; text-color: #C4151C;
   font-family: "Rimouski";
   text-align: center;
}
p#pp{ text-align: center;
background: black;padding:10px;
opacity: 1;
 	text-shadow: black 0.5em 0.2em 0.2em;
     font-size: 2em ; text-color: #E0FFFF;
   font-family: "Rimouski";
   text-align: center;


}








