
html { 
  margin:0;
  padding:0;
  background: url("./pics/zzzzz.jpg") no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
   font-family: "Rimouski";
}

 td  { border-bottom: 1px solid #E0FFFF;

	background-color: transparent;height: 40px; width: 600px;
}
tr :hover {color:#000000;
background-color: #B0C4DE;

}


table   {
	 position: center;

 text-align:center;
	font-family: "Rimouski";
 background-color: transparent;
 border-width: 6px ;
 


}

input[type="text"]{ float:right;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #E0FFFF;
  width: 20;
     text-align:right;
  box-sizing: border-box;
  letter-spacing: 1px; font-size: large;
   position: right;
}
.effect-1{font-size: large;
  border: 0;
  padding: 4px 0; position: right;
  border-bottom: 1px solid #E0FFFF;
   position: right;
  background-color: transparent;
}

.effect-2{ font-size: large; position: right;float:right;
color: #E0FFFF !important;
border-radius:10px;
box-shadow:4px 4px 0px #E0FFFF;
background: transparent;
padding: 3px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;}

.effect-2:active {position: right;float:right;
background: transparent;
border-radius:10px;
box-shadow:4px 4px 4px #E0FFFF inset;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

 
.effect-1 ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E0FFFF;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border{
  width: 100%;
  transition: 0.4s;
}

.effect-1 ~ label{
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-1:focus ~ label,
.has-content.effect-1 ~ label{
  top: -16px;
  font-size: 12px;
  color: #000000;
  transition: 0.3s;
}

h2 { 
	text-shadow: black 0.5em 0.2em 0.2em;
     font-size: 1em ; color: #E0FFFF;

    font-style : italic;text-align: center;
}

 h1{
 	text-shadow: black 0.5em 0.2em 0.2em;
     font-size: 1em ; color: #E0FFFF;
   font-family: "Rimouski";
   text-align: center;
}
p#pp{ color: #E0FFFF;

	

}

 h1,table{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



